.grid .cells-container {
    display: grid;
    grid-template-columns: repeat(30 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-auto-flow: column;
    gap: 0.25rem;
}

.grid .days {
    display: flex;
}

.grid .days .names {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    margin-right: 1rem;
}

.grid .days .names p {
    display: grid;
    place-items: center;
    height: 1.5rem;
    font-family: monospace;
    font-size: 0.9rem;
}

.grid .navigation {
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    gap: 1rem;
}

.grid .navigation button {
    background: transparent;
    background-size: cover;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    transition: background-color 0.33s;
}

.grid .navigation button.disabled {
    filter: invert(25%);
}

.grid .navigation .left {
    background-image: url("./assets/left.svg");
}

.grid .navigation .right {
    background-image: url("./assets/right.svg");
}

@media screen and (max-width: 600px) {
    .grid .days .names p {
        display: grid;
        place-items: center;
    }
}
