.cell-container .content .date {
    text-align: center;
    margin-bottom: 1rem;
}

.cell-container .content .cell-input {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    border-bottom: 1px solid rgba(156, 5, 5, 0.25);
    padding: 0.5rem;
}
